.layoutCenterPage{
    margin-top: -80px;
}

#CustomCardHeader{
    background-color: var(--color-bg-nav);
}

h1 {
    color: var(--writeColor);
}

@media screen and (max-width: 660px) {
    #requestMediaQuerie {
        width: 90%;
    }
}

@media screen and (max-width: 660px) {
    #checkMailMediaQuerie {
        width: 90%;
    }
}

@media screen and (max-width: 445px) {
    #resetMediaQuerie {
        width: 90%;
    }
    h1 {
        font-size: 21px;
    }
}