{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/footerLink.css">
{% endblock %}

{% block title %}Maitre " ADMINISTRATEUR " | Mentions légales{% endblock %}

{% block body %}

<div class="row d-flex justify-content-center">
    <div class="col-8 mb-5">

            <h1 class="text-center mb-5 mt-5 text-decoration-underline">Mentions légales</h1>

            <p class="text-decoration-underline fw-bold">[ Nom de l'entreprise ou activité ]</p>

            <ul>
                <li class="listDisc">
                    Dénomination sociale ou raison sociale.
                </li>

                <li class="listDisc">
                    Adresse du siège social de l’entreprise.
                </li>

                <li class="listDisc">
                    Noms des dirigeants de l’entreprise.
                </li>

                <li class="listDisc">
                    Numéro d’enregistrement au registre du commerce et des sociétés ou autre autorité applicable à l’activité.
                </li>

                <li class="listDisc">
                    Numéro d’identification fiscale.
                </li>

                <li class="listDisc">
                    Forme Juridique de l’entreprise.
                </li>

                <li class="listDisc">
                    Montant du Capital Social.
                </li>

                <li class="listDisc">
                    Si le site web propose des services dans le cadre d'une activité qui nécessite l'approbation d'une autorité publique, les coordonnées de l'autorité de contrôle doivent être fournies.
                </li>

                <li class="listDisc">
                    Nom, dénomination ou raison sociale et adresse et numéro de téléphone de l'hébergeur du site.
                </li>

                <li class="listDisc">
                    Conditions de vente
                </li>

                <li class="listDisc">
                    Politique de confidentialité
                </li>

                <li class="listDisc">
                    Conditions d'utilisation
                </li>
            </ul>

            <p class="mb-0 text-decoration-underline fw-bold">E-mail :</p>
            <p class="fw-bold"><span="fw-bold">[ EMAIL ]</span></p>

            <p class="mb-0 text-decoration-underline fw-bold">Téléphone :</p>
            <p class="fw-bold">[ NUMERO DE TELEPHONE ]</p>

            <p class="mb-0 text-decoration-underline fw-bold">Fax :</p>
            <p class="fw-bold">[ NUMERO DE FAX ]</p>

            <p class="mb-0 text-decoration-underline fw-bold">Adresse :</p>
            <p class="fw-bold">[ADRESSE DE L'ENTREPRISE ]</p>

            <p>La Commission européenne fournit une plateforme de règlement des litiges en ligne (OS). Cette plateforme est disponible à l'adresse <span class="fw-bold">http://ec.europa.eu/consumers/odr/.</span></p>

            <p>En tant que client, vous avez toujours la possibilité de contacter le conseil d'arbitrage de la Commission européenne. Nous ne sommes ni disposés à, ni obligés de, participer à une procédure de règlement des litiges devant un conseil d'arbitrage de la consommation.</p>

    </div>
</div>

{% endblock %}