{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/footerLink.css">
{% endblock %}

{% block title %}Maitre " ADMINISTRATEUR " | Politique de confidentialité {% endblock %}

{% block body %}

<div class="row d-flex justify-content-center">
    <div class="col-10 mb-5">

            <h1 class="text-center mb-5 mt-5 text-decoration-underline">Politique de confidentialité</h1>
    
            <p class="fw-light mb-4"> <span class="text-decoration-underline">Date de dernière mise à jour</span> :"A Faire"</p>
    
        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 1 : COLLECTE DE VOS INFORMATIONS</h2>
    
            <p>
                Nous recueillons des informations lorsque vous remplissez nos formulaires de contact, et lorsque vous laissez un commentaire sur le blog. <br><br>
                Nous pouvons récolter les informations suivantes : votre prénom, votre nom et votre adresse e-mail. <br><br>
                En outre, nous pouvons recevoir et enregistrer automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels et votre matériel, et la page que vous demandez selon vos préférences cookies que vous avez sélectionné via notre bandeau. <br><br>
                L'application Calendly peut collecter certaines de vos données dans le cadre de prise de rendez-vous, mais nous voulons vous rassurer que ces informations ne seront pas enregistrées dans notre base de données. Nous prenons la protection de vos données très au sérieux et nous nous engageons à les utiliser de manière responsable et conforme aux lois en vigueur. <br><br>
                Nous pouvons récolter les informations suivantes via Calendly pour mener à bien la prise de rendez-vous : votre prénom, votre nom et votre adresse e-mail.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 2 : UTILISATION DE VOS INFORMATIONS</h2>

            <p>
                Toutes les informations que nous recueillons de votre part peuvent être utilisées pour :
            </p>

            <ul>
                <li class="listDisc">Vous contacter de manière plus efficace ;</li>
                <li class="listDisc">Vous envoyer des email de confirmations (désinscriptions, rendez-vous) ;</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 3 : CONFIDENTIALITE DE VOS DONNEES</h2>

            <p>
                Nous sommes les seuls propriétaires des informations recueillies sur notre site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison, sans votre consentement.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 4 : DIVULGATION A DES TIERS</h2>

            <p>
                Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 5 : PROTECTION DE VOS INFORMATIONS</h2>

            <p>
                Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Notre site internet possède bien entendu un <span class="fw-bold">Certificat SSL (Secure Socket Layer).</span> <br><br>
                Nous protégeons également vos informations hors ligne. Seuls membres autorisés de l'entreprise qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou le service aux membres) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé par notre hébergeur.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 6 : COPIE OU SUPPRESSION DE VOS INFORMATIONS</h2>

            <p>
                Nous stockons les données transmises via nos différents formulaires de contact. <br><br>
                Cependant, vous avez la possibilité de nous contacter par e-mail à <span class="fw-bold">[ adresse e-mail ]</span> ou par téléphone au <span class="fw-bold">[  numéro de téléphone ]</span> pour toute demande de copie ou de suppression de vos données personnelles que nous stockons.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 7 : ENVOI DE NEWSLETTERS</h2>

            <p>
                Nous ne proposons pas de newsletters sur notre site.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 8 : POLITIQUE DE L'HEBERGEUR</h2>

            <p>
                Notre hébergeur possède sa propre politique de confidentialité concernant l'utilisation de vos données que vous pouvez consulter en tout temps <span class="fw-bold">[ici : lien de la politique de confidentialité de l'hébergeur].</span>
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-decoration-underline mb-4 writeColorNav">ARTICLE 9 : CONSENTEMENT A NOTRE POLITIQUE</h2>

            <p>
                En utilisant notre site, vous consentez à notre politique de confidentialité et que celle-ci puisse être modifiée en tout temps par l'éditeur.
            </p>
        </div>


    </div>
</div>

{% endblock %}